*, *::after, *::before {
    box-sizing: border-box;
}


body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.slider {
    --slider-index: 0;
    display: flex;
    flex-grow: 1;
    margin: 0 .25rem;
    transform: translateX(calc(var(--slider-index) * -100%));
    transition: transform 250ms ease-in-out;
    overflow: hidden;
}

.slider > img {
    flex: 0 0 25%;
    max-width: 25%;
    min-height: 150px;
    aspect-ratio: 16 / 9;
    padding: .25rem;
    border-radius: 1rem;
}

.handle {
    border: none;
    border-radius: 1rem;
    flex-grow: 0;
    background-color: rgba(0,0,0,0.25);
    z-index: 10;
    margin: .25rem 0;
    padding: 0 .5rem;
    cursor: pointer;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    color: white;
    transition: background-color 150ms ease-in-out;
}

.left-handle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.right-handle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.handle:hover,
.handle:focus {
    background-color: rgba(0,0,0,0.5);
}

.handle:hover .text,
.handle:focus .text{
    transform: scale(1.1);
}

.text {
    transition: transform 150ms ease-in-out;
}