*, *::after, *::before {
    box-sizing: border-box;
}

:root {
}

body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.slider {
    display: flex;
    flex-grow: 1;
    transform: translateX(-0%)
}

.slider > img {
    flex: 0 0 25%;
    max-width: 25%;
    min-height: 150px;
    aspect-ratio: 16 / 9;
    padding: .25rem;
    border-radius: 1rem;
    overflow: hidden;
}

.handle {
    border: none;
    border-radius: 1rem;
    flex-grow: 0;
    width: 5rem;
    background-color: rgba(0,0,0,0.25);
    z-index: 10;
    margin: .25rem 0;
    cursor: pointer;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    color: white;
    transition: font-size 150ms ease-in-out;
}

.left-handle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.right-handle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.handle:hover {
    background-color: rgba(0,0,0,0.5);
}

.handle:hover .text{
    transform: scale(1.1)
}

.container:hover left-handle::after {
    color: white;
}

.container:hover right-handle::after {
    color: white;
}